PerfectServer/MySqlTransaction.swift
PerfectServer/Certificates/.DS_Store
PerfectServer/MySQL/.DS_Store
PerfectServer/MySQL/Info.plist
PerfectServer/MySQL/makefile
PerfectServer/MySQL/MySQL.h
PerfectServer/MySQL/MySQL.swift
PerfectServer/MySQL/README.md
PerfectServer/MySQL/linked/libmysqlclient/module.map
PerfectServer/MySQL/linked/libmysqlclient/include/big_endian.h
PerfectServer/MySQL/linked/libmysqlclient/include/byte_order_generic.h
PerfectServer/MySQL/linked/libmysqlclient/include/byte_order_generic_x86.h
PerfectServer/MySQL/linked/libmysqlclient/include/byte_order_generic_x86_64.h
PerfectServer/MySQL/linked/libmysqlclient/include/decimal.h
PerfectServer/MySQL/linked/libmysqlclient/include/errmsg.h
PerfectServer/MySQL/linked/libmysqlclient/include/keycache.h
PerfectServer/MySQL/linked/libmysqlclient/include/little_endian.h
PerfectServer/MySQL/linked/libmysqlclient/include/m_ctype.h
PerfectServer/MySQL/linked/libmysqlclient/include/m_string.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_alloc.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_attribute.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_byteorder.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_compiler.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_config.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_dbug.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_dir.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_getopt.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_global.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_list.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_net.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_pthread.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_sys.h
PerfectServer/MySQL/linked/libmysqlclient/include/my_xml.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql_com.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql_com_server.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql_embed.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql_time.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql_version.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysqld_ername.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysqld_error.h
PerfectServer/MySQL/linked/libmysqlclient/include/plugin.h
PerfectServer/MySQL/linked/libmysqlclient/include/plugin_audit.h
PerfectServer/MySQL/linked/libmysqlclient/include/plugin_ftparser.h
PerfectServer/MySQL/linked/libmysqlclient/include/plugin_validate_password.h
PerfectServer/MySQL/linked/libmysqlclient/include/sql_common.h
PerfectServer/MySQL/linked/libmysqlclient/include/sql_state.h
PerfectServer/MySQL/linked/libmysqlclient/include/sslopt-case.h
PerfectServer/MySQL/linked/libmysqlclient/include/sslopt-longopts.h
PerfectServer/MySQL/linked/libmysqlclient/include/sslopt-vars.h
PerfectServer/MySQL/linked/libmysqlclient/include/typelib.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/client_authentication.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/client_plugin.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/client_plugin.h.pp
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/get_password.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/innodb_priv.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_audit.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_audit.h.pp
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_auth.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_auth.h.pp
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_auth_common.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_ftparser.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_ftparser.h.pp
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/plugin_validate_password.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/service_my_plugin_log.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/service_my_snprintf.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/service_mysql_string.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/service_thd_alloc.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/service_thd_wait.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/service_thread_scheduler.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/services.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/thread_pool_priv.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_file.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_idle.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_socket.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_stage.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_statement.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_table.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/mysql_thread.h
PerfectServer/MySQL/linked/libmysqlclient/include/mysql/psi/psi.h
PerfectServer/MySQL/linked/libmysqlclient/osx/libmysqlclient.a
PerfectServer/MySQL/MySQLTests/Info.plist
PerfectServer/MySQL/MySQLTests/MySQLTests.swift
